venv
image2.jpg
image3.jpg
processed_image.jpg
image_processor
image_hex.txt
output_hex.txt
image_processor_sim
grayscale_math.jpg
*.txt
processed_brightness.jpg
processed_grayscale.jpg
processed_invert.jpg
processed_threshold.jpg